@import '~antd/dist/antd.less';

.steps-row-xs {
	margin-bottom: 2rem;

	@media screen and (min-width: 800px) {
		display: none;
	}
}

.steps-row {
	display: none;

	@media screen and (min-width: 800px) {
		display: block;
		margin-bottom: 2rem;
	}
}

.text-column {
	width: calc(100vw - 3rem);

	@media screen and (min-width: 40em) {
		width: calc(100vw - 9rem);
	}

	@media screen and (min-width: 50em) {
		width: 40em;
	}
}
